.header {
	position: relative;
	background-color: grey;
	height: 900px;
}
.headerLogoWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: 275px 1fr auto;
	grid-template-rows: 135px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	z-index: 5;
}
.logoWrapper {
	background-color: #000;
	display: grid;
	justify-content: center;
	align-content: center;
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
}
.nav {
	display: grid;
	justify-items: end;
}
.navMenu {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template: auto / repeat(5, auto);
	grid-gap: 75px;
	align-content: center;
	list-style-type: none;
	color: #fff;
	font-size: 15px;
	padding-right: 5%;
}
.menuIconWrapper {
	display: grid;
	align-items: center;
	position: relative;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	width: 150px;
}
.menuIconWrapper img {
	position: absolute;
	right: 69px;
}
.menuItem {
	text-transform: uppercase;
}

/* Slider */
.slideContainer {
	max-width: 1070px;
	margin: 0 auto;
	height: 100%;
}
.slideItem {
	position: relative;
	height: 900px;
}
#slideItem1 {
	background: url('../assets/images/slide-1.jpg') top center no-repeat;
}
.sliderDescription {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 150px;
	background-color: rgba(17, 17, 17, 0.8);
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 21px;
}
.sliderDescrContainer {
	max-width: 1070px;
	width: 100%;
	justify-self: center;
	display: grid;
	grid-template-columns: auto;
}
.sliderDescrList {
	margin: 0;
	padding: 0;
	counter-reset: slideCounter;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: start;
	grid-gap: 7%;
}
.sliderDescrItem {
	list-style: none;
	text-transform: lowercase;
}
.sliderDescrItem:before {
	counter-increment: slideCounter;
	content: counter(slideCounter);
	margin-right: 38px;
}

.slideTextWrapper {
	height: 100%;
	padding-top: 320px;
	max-width: 708px;
	color: #fff;
}
.slideTextWrapper h1 {
	font-size: 75px;
	line-height: 1.8em;
	margin: 0;
}
.slideTextWrapper p,
.slideTextWrapper a {
	font-size: 28px;
	line-height: 1.8em;
	margin: 0;
	color: #fff;
}
.slideTextWrapper a {
	font-weight: 700;
}

.messagerLinkWrapper {
	position: absolute;
	right: 0;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	grid-gap: 29px;
	background-color: var(--red-color);
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	height: 100%;
	width: 20%;
}
.messagerLinkText {
	text-transform: uppercase;
}
/*  */

/*  */
