.main {
	background-color: #111111;
	color: #fff;
}
.aboutUsSection {
	display: grid;
	background: url('../assets/background/bx_bx-buildings.png') 109% 109% no-repeat;
}
.aboutUsWrapper {
	padding: 197px 50px 0;
	margin-bottom: 182px;
}
.aboutUsHeader {
	margin-bottom: 56px;
}
.aboutUsHeader h2 {
	margin: 0;
	font-size: 34px;
	line-height: 1.8em;
}
.aboutUsDesc {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 165px;
	font-size: 16px;
	line-height: 1.8em;
	margin-bottom: 65px;
}
.aboutUsList {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 25px 50px;
	justify-content: space-between;
}
.aboutUsItem {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 25px;
}
.aboutUsItem div {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 12px;
}
.aboutUsItem h3 {
	font-size: 22px;
	line-height: 1.7em;
	font-weight: 700;
	margin: 0;
}
.aboutUsItem p {
	margin: 0;
	font-size: 16px;
	line-height: 1.7em;
}

/* aboutArc */
.aboutArcSection {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-gap: 28px;
	margin-bottom: 114px;
}
.aboutArcImageWrapper {
	padding: 40px 0;
	background: linear-gradient(90deg, #db3333 50%, transparent 50%);
}
.redBlock {
	background-color: #db3333;
	width: 409px;
}
.aboutArcImageWrapper {
	position: relative;
	display: grid;
	align-items: center;
}
.aboutArcImageWrapper img {
	width: 100%;
	height: auto;
}
.arcImageText {
	position: absolute;
	left: 50%;
	top: 35%;
	font-size: 76px;
	line-height: 1em;
	text-transform: uppercase;
	max-width: 267px;
	margin: 0;
}

.aboutArcDrop {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-gap: 25px;
	padding: 0 80px;
}
.dropListHeaderWrapper {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	cursor: pointer;
}
.dropHeader {
	font-size: 21px;
	margin: 0;
}
.dropListItem {
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
	padding-bottom: 20px;
	line-height: 1.8em;
}
.dropListItem:last-of-type {
	border-bottom: none;
}
.dropText {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
.dropText p {
	padding-top: 20px;
	margin: 0;
	font-size: 16px;
}
.svgAccordeon {
	width: 20px;
	height: 20px;
}
.svgAccordeonLine {
	stroke: #fff;
	stroke-width: 2px;
	transition: all 0.3s ease-out;
	transform-origin: 50%;
}
.svgAccordeonLine-active {
	transform: scale(0);
}

/* Video */
.aboutArcVideo {
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.aboutArcPlayer {
	max-width: 400px;
	height: 680px;
	transition: filter 1s ease;
}
.playerPlayBut {
	padding: 0;
	border: none;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}
.playerPlayBut.video-active {
	display: none;
}
.aboutArcPlayer.player-active:hover {
	filter: brightness(80%);
	cursor: pointer;
}

/* TextSlider */
.textSliderWrapper {
	max-width: 946px;
}
.textSliderSection {
	display: grid;
	margin-bottom: 100px;
	position: relative;
}
.textSlide {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	max-width: 980px;
	cursor: pointer;
}
.textSlideContent {
	display: grid;
	grid-gap: 20px;
}
.textSlideContentText {
	font-size: 34px;
	font-weight: 700;
	line-height: 1.8em;
}
.textSlideContentAuthor {
	font-size: 18px;
	line-height: 1.8em;
}
.textSlideContentAuthor span {
	font-weight: 700;
}
.textSliderDots {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 15px);
	grid-gap: 11px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	justify-content: end;
	padding-right: 30px;
}
.textSliderDots li {
	font-size: 0;
	line-height: 0;
}
.textSliderDots li button {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	transition: all 0.3s ease;
}
.textSliderDots li button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.textSliderDots li button:focus-visible {
	border: none;
	outline: none;
	box-shadow: 0 0 5px #fff;
}
.textSliderDots li.slick-active button {
	background-color: #fff;
}

/* Partners */
.partnersSection {
	display: grid;
}
.partnersWrapper {
	width: 980px;
	justify-self: stretch;
	display: grid;
	grid-gap: 40px;
	justify-content: space-between;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(2, auto);
}
.partnersWrapper img {
	justify-self: center;
	align-self: center;
}
