@import './mixins.scss';
@import './variables.scss';

.header {
	position: relative;
	background-color: grey;
	height: 900px;
}
.headerLogoWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	@include grid(grid-template, 135px / 275px 1fr auto);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	z-index: 5;
}
.logoWrapper {
	background-color: #000;
	display: grid;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
	@include font(36px);
}
.nav {
	display: grid;
	justify-items: end;
}
.navMenu {
	margin: 0;
	padding: 0;
	@include grid(grid-template, auto / repeat(5, auto), 75px);
	align-content: center;
	list-style-type: none;
	padding-right: 5%;
	@include font(15px);
}
.menuIconWrapper {
	display: grid;
	align-items: center;
	position: relative;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	width: 150px;
	img {
		position: absolute;
		right: 69px;
	}
}
.menuItem {
	text-transform: uppercase;
}

/* Slider */
.slideContainer {
	max-width: 1070px;
	margin: 0 auto;
	height: 100%;
}
.slideItem {
	position: relative;
	height: 900px;
}
#slideItem1 {
	background: url('../assets/images/slide-1.jpg') top center no-repeat;
}
.sliderDescription {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 150px;
	background-color: rgba(17, 17, 17, 0.8);
	@include grid(grid-template-columns, 1fr);
	align-items: center;
	justify-content: center;
	@include font(21px, inherit, 700);
}
.sliderDescrContainer {
	max-width: 1070px;
	width: 100%;
	justify-self: center;
	@include grid(grid-template-columns, auto);
}
.sliderDescrList {
	margin: 0;
	padding: 0;
	counter-reset: slideCounter;
	color: #fff;
	@include grid(grid-template-columns, repeat(4, auto), 7%);
	justify-content: start;
	list-style: none;
}
.sliderDescrItem {
	text-transform: lowercase;
	&:before {
		counter-increment: slideCounter;
		content: counter(slideCounter);
		margin-right: 38px;
	}
}
.slideTextWrapper {
	height: 100%;
	padding-top: 320px;
	max-width: 708px;
	h1,
	p,
	a {
		margin: 0;
	}
	h1 {
		@include font(75px, 1.8em);
	}
	p {
		@include font(28px, 1.8em);
	}
	a {
		@include font(28px, 1.8em, 700);
	}
}
.messagerLinkWrapper {
	position: absolute;
	right: 0;
	@include grid(grid-template-columns, auto auto, 29px);
	align-items: center;
	justify-content: center;
	background-color: $brandColor;
	height: 100%;
	width: 20%;
	@include font(16px, inherit, 700);
}
.messagerLinkText {
	text-transform: uppercase;
}
