@import './mixins.scss';
@import './variables.scss';

.header {
	position: relative;
	background-color: #000;
	overflow: hidden;
}
.headerLogoWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	@include grid(grid-template, 135px / 275px 1fr auto);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	z-index: 5;
}
.logoWrapper {
	display: grid;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
	@include font(36px);
	transition: background-color 0.3s ease;
}
.logoWrapper-black {
	background-color: #000;
}
.nav {
	display: grid;
	justify-items: end;
}
.navMenu {
	margin: 0;
	padding: 0;
	@include grid(grid-template, auto / repeat(5, auto), 75px);
	align-content: center;
	list-style-type: none;
	padding-right: 5%;
}
.menuItem {
	text-transform: uppercase;
	a {
		@include font(15px);
		text-decoration: none;
	}
}

.menuIconWrapper {
	display: grid;
	align-items: center;
	position: relative;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	width: 150px;
	.burgerIcon {
		position: absolute;
		right: 69px;
		line {
			&:nth-child(4) {
				transition: transform 0.3s 0.5s;
				transform: translate(100%, -100%);
			}
			&:nth-child(5) {
				transition: transform 0.3s 0.5s;
				transform: translate(-100%, -100%);
			}
		}
	}
}
// BurgerMenu
.burgerList {
	position: absolute;
	top: 120px;
	z-index: 6;
	width: 100%;
	backdrop-filter: blur(20px);
	transition: transform 0.6s ease, backdrop-filter 0.7s ease, opacity 0.7s ease;
	opacity: 1;

	&.hidden {
		transform: translateX(100%);
		opacity: 0;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: grid;
		justify-items: end;

		li {
			padding: 20px 60px;
		}
	}
}
.burgerMenuItem {
	text-transform: uppercase;
}

/* Slider */
.slidesWrapper {
	position: relative;
}
.slideContainer {
	max-width: 1070px;
}
.slideItem {
	position: relative;
	height: 900px;
	background-size: 100%;
	padding-left: 275px;
}
#slideItem1 {
	background: url('../assets/images/slide-1.jpg') top center no-repeat;
}
#slideItem2 {
	background: url('../assets/images/slide-2.jpg') top center no-repeat;

	.slideContainer {
		height: 100%;
	}
	.slideTextWrapper {
		max-width: 847px;
		backdrop-filter: blur(20px);
	}
}
#slideItem3 {
	background: url('../assets/images/slide-3.jpg') top center no-repeat;

	.slideTextWrapper {
		max-width: 847px;
	}
}
.sliderDescription {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 150px;
	background-color: rgba(17, 17, 17, 0.8);
	@include grid(grid-template-columns, 1fr);
	align-items: center;
	justify-content: center;
	@include font(21px, inherit, 700);

	&.emptySlide {
		background-color: transparent;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
	}
	&.emptySlide-3 {
		background-color: rgba(000, 000, 000, 0.3);
		backdrop-filter: blur(30px);
		border-top: 1px solid rgba(255, 255, 255, 0.5);
	}
}
.sliderDescrContainer {
	max-width: 1070px;
	width: 100%;
	justify-self: center;
	@include grid(grid-template-columns, auto);
}
.sliderDescrList {
	margin: 0;
	padding: 0;
	counter-reset: slideCounter;
	color: #fff;
	@include grid(grid-template-columns, repeat(4, auto), 7%);
	justify-content: start;
	list-style: none;
}
.sliderDescrItem {
	text-transform: lowercase;

	&:before {
		counter-increment: slideCounter;
		content: counter(slideCounter);
		margin-right: 38px;
	}
	&.emptyItem:before {
		content: '0' counter(slideCounter);
		margin-right: 0;
		color: #c4c4c4;
	}
	&.emptyItem:first-child:before {
		color: #fff;
	}
}
.slideTextWrapper {
	height: 100%;
	max-width: 708px;
	padding: 320px 5% 0;

	h1,
	p,
	a {
		margin: 0;
	}
	h1 {
		@include font(75px, 1.8em);
	}
	p {
		@include font(28px, 1.8em);
	}
	a {
		@include font(28px, 1.8em, 700);
	}
}
.messagerLinkWrapper {
	position: absolute;
	right: 0;
	@include grid(grid-template-columns, auto auto, 29px);
	align-items: center;
	justify-content: center;
	background-color: $brandColor;
	height: 100%;
	width: 20%;
	@include font(16px, inherit, 700);
}
.messagerLinkText {
	text-transform: uppercase;
}
.slideButWrapper {
	@include grid(grid-template-columns, auto auto, 20px);
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	width: 350px;
	height: 100%;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.slideBut {
	width: 60px;
	height: 133px;
	position: absolute;
	bottom: 150px;
	background-color: #000;
	display: grid;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	span {
		display: none;
		@include font(15px, inherit, 700);
		text-transform: uppercase;
	}
	&.slideNext {
		right: 0;

		img {
			transform: rotate(180deg);
		}
	}
	&.slidePrev {
		left: 0;
	}
	&.inline {
		position: relative;
		bottom: unset;
		left: unset;
		right: unset;
		background-color: transparent;

		img {
			display: none;
		}
		span {
			display: inline;
		}
	}
}

// Media
@media (max-width: 1280px) {
	.headerLogoWrapper {
		@include grid(grid-template, 120px/200px 1fr auto);
	}
	.slideItem {
		padding-left: 200px;
	}
	.sliderDescription {
		padding: 0 30px;
	}
	.sliderDescrList {
		grid-template-columns: auto auto;
	}
}
@media (max-width: 1000px) {
	.menuIconWrapper {
		width: 50px;
		justify-content: center;

		.burgerIcon {
			position: relative;
			right: auto;
		}
	}
	.slideItem {
		padding-left: 0;
	}
	.slideTextWrapper {
		padding: 200px 5% 0;
	}
}
@media (max-width: 960px) {
	.navMenu {
		grid-gap: 30px;
	}
	.slideContainer {
		display: grid;
		justify-content: center;
	}
	.slideItem {
		height: 450px;
	}
	.slideTextWrapper {
		margin: 0 auto;
		padding: 150px 5% 0;

		h1 {
			font-size: 35px;
			align-self: start;
		}
		p,
		a {
			align-self: start;
			font-size: 18px;
		}
	}
	.sliderDescription {
		height: 100px;
	}
	#slideItem1 {
		background: url('../assets/images/slide-1-960.jpg') top center no-repeat;
	}
	#slideItem2 {
		background: url('../assets/images/slide-2-960.jpg') top center no-repeat;

		.slideContainer {
			// @include grid(grid-template-rows, repeat(2, auto));
		}
	}
	#slideItem3 {
		background: url('../assets/images/slide-3-960.jpg') top center no-repeat;
	}
	.slideBut {
		bottom: 100px;
		height: 70px;
	}
	.messagerLinkWrapper {
		padding: 0 20px;
		grid-gap: 15px;
		width: 180px;
	}
}
@media (max-width: 960px) {
	.slideBut {
		width: 40px;
		height: 40px;
	}
	.slideButWrapper {
		width: 180px;
	}
}
@media (max-width: 800px) {
	.sliderDescrItem:before {
		margin-right: 10px;
	}
}
@media (max-width: 700px) {
	.navMenu {
		display: none;
	}
	.burgerIcon {
		cursor: pointer;
		&.burger-open line {
			&:nth-child(1) {
				animation: lineHide 0.5s ease forwards;
			}
			&:nth-child(2) {
				animation: lineHide 0.5s 0.075s ease forwards;
			}
			&:nth-child(3) {
				animation: lineHide 0.5s 0.1s ease forwards;
			}
			&:nth-child(4) {
				transform: translate(0, 0);
			}
			&:nth-child(5) {
				transform: translate(0, 0);
			}
		}
		&.burger-close line {
			&:nth-child(1) {
				transform: translateX(100%);
				animation: lineShow 0.5s 0.6s ease forwards;
			}
			&:nth-child(2) {
				transform: translateX(100%);
				animation: lineShow 0.5s 0.675s ease forwards;
			}
			&:nth-child(3) {
				transform: translateX(100%);
				animation: lineShow 0.5s 0.7s ease forwards;
			}
		}
	}
}
@media (max-width: 600px) {
	.headerLogoWrapper {
		@include grid(grid-template, 80px/120px 1fr auto);
	}
	.burgerList {
		top: 80px;
	}
	.sliderDescription {
		@include grid(grid-template-rows, 1fr 1fr, 20px);
		height: 140px;
		padding: 0 40px;
	}
	.sliderDescrList {
		justify-content: space-around;
	}
	.messagerLinkWrapper {
		width: 100%;
		position: relative;
		right: auto;
		justify-self: center;
	}
	.slideButWrapper {
		position: relative;
		right: auto;
		justify-self: center;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-right: 1px solid rgba(255, 255, 255, 0.5);
	}
	.slideTextWrapper {
		padding-top: 90px;
	}
}

// menuAnimation
@keyframes lineHide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
@keyframes lineShow {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
